<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section>
      <p><strong>Bigfoot</strong></p>
      <img src="http://www.jacklinks.eu/site/assets/files/12571/sasquatch-surprised.jpg" alt="Sasquatch" />
    </section>
  </body>
</html>
